@import 'variables';
[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-instagram {
    &:before {
        content: $icon-instagram;
    }
}

.icon-vk {
    &:before {
        content: $icon-vk;
    }
}

.icon-check {
    &:before {
        content: $icon-check;
    }
}

.icon-burger {
    &:before {
        content: $icon-burger;
    }
}

.icon-close {
    &:before {
        content: $icon-close;
    }
}

.icon-twitter {
    &:before {
        content: $icon-twitter;
    }
}

.icon-plus {
    &:before {
        content: $icon-plus;
    }
}

.icon-arrow-left {
    &:before {
        content: $icon-arrow-left;
    }
}

.icon-arrow-right {
    &:before {
        content: $icon-arrow-right;
    }
}

.icon-arrow-down {
    &:before {
        content: $icon-arrow-down;
    }
}

.icon-facebook {
    &:before {
        content: $icon-facebook;
    }
}

.icon-minus {
    &:before {
        content: $icon-minus;
    }
}