$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: 'fonts' !default;
$icon-check: '\e902';
$icon-arrow-down: '\e909';
$icon-arrow-left: '\e907';
$icon-arrow-right: '\e908';
$icon-ellipsis: '\e900';
$icon-burger: '\e903';
$icon-close: '\e904';
$icon-plus: '\e906';
$icon-minus: '\e90b';
$icon-vk: '\e901';
$icon-facebook: '\e90a';
$icon-twitter: '\e905';
$icon-instagram: '\e90c';