@mixin globalWrapper {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 rem(127);
}

@function rem($size) {
    @return $size / 16 * 1rem;
}

@import 'icomoon/variables.scss';
$basic-bg-color: #ffffff;
$main-text-color: #001a34;
$main-link-color: #004ed6;
$main-font-family: 'GT Eesti Pro Text',
sans-serif;
$tablet: 650px;
$desktop: 1200px;